.App {
  text-align: center;
  background: linear-gradient(
    170deg,
    rgba(116,54,205,1) 0%,
    rgba(119,66,221,1) 15%,
    rgba(116,78,212,1) 15%,
    rgba(117,90,226,1) 47%,
    rgba(116,114,220,1) 47%,
    rgba(112,110,212,1) 60%,
    rgba(112,110,212,0) 60%,
    rgba(112,110,212,0) 100%

    ),
    fixed;

}

.Arrow-bot {
  height: 5vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
