
/* BACKGROUND */
.background-gradient {
  text-align: center;
  background: linear-gradient(
    170deg,
    rgba(116,54,205,1) 0%,
    rgba(119,66,221,1) 8%,
    rgba(116,78,212,1) 8%,
    rgba(117,90,226,1) 31%,
    rgba(116,114,220,1) 31%,
    rgba(112,110,212,1) 43.5%,
    rgba(255,255,255,1) 43.5%,
    rgba(255,255,255,1) 80%,
    rgba(246,249,252,1) 80%,
    rgba(246,249,252,1) 100%
    ),
    fixed;

}

/* ICONS */
.Arrow-bot {
  height: 5vmin;
  width:5vmin;
  margin: 0 0% 10% 0;
  background-color: #eed;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.12);
  border-radius:100px;
}

.social-icon {
  height: 3vmin;
  padding-bottom: 5px
}

/* NAVBAR */

.navbar-default .navbar-brand {
    color: #FFF;
}
.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-right {
  align-items: center;
  justify-content: center;
}

html body div#root div div.background-gradient nav.navbar.navbar-default.navbar-static-top div.container div.navbar-collapse.collapse ul.nav.navbar-nav.navbar-right{
  padding-right: 10vw;
}
ul.nav:nth-child(2) {
  padding-right: 10vw
}

.navbar {
  background-color: transparent;
  border-color: transparent
}

/* FOOTER */

.footer-header {
  font-weight: bold
}

.footer-icon {
  margin-right: 0;
  padding-right: 0;
  text-align: right;
}

.footer-address {
  margin-bottom: 0;
}

footer {
  background-color: #7472DC;
  color: white;
  padding: 5vw 5vw 5vw 5vw
}

/* Content */

.white-content {
  color: #FFF;
}

.white-content.large {
  display: inline;
  font-weight: bold;
  font-size: 50px
}

p.white-content {
  margin: 15% 0% 10px 0
}

.top-color-text {
  color: #9DE7B4;
  display: inline;
  font-weight: bold;
  font-size: 50px
}

.header-h2 {
  padding-top: 10%;
  padding-bottom: 40px
}

.search-input {
  min-width: 250px;
  max-width: 1fr
}

.middle-paragraph {
  line-height: 1.5;
   margin: 0 20vw 2vw 20vw;
   font-size: 18px
}

.create-account-btn {
  background-color:#7472DC;
  color: #FFF;
  font-weight: bold
}

.services {
  padding: 5% 0 0 0;
  font-size: 19px
}

hr {
  width: 40px;
  border-color : black;
  margin-top: 1px
}

h4.media-heading {
  font-size: 14px;
  text-align: left;
  font-weight: bold;
}
.well {
  background-color: #FCFCFD;
  padding-left: 0
}

p.well-p {
  text-align: left;
}

.contact-btn {
font-weight: bold;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.12)
}

.bottom-row {
  margin: 2% 0 4% 0
}

.ready-p {
  color: #7270DE;
  font-size: 19px;
  text-align: left;
  padding-bottom: 5px
}

.create-p {
  color: #7270DE;
  font-size: 19px;
  text-align: left;
  padding-bottom: 5px
}
